.footer {
    padding: 10px;
    margin-bottom: 10px;
    height: 50px;
    border-top: 3px solid #c78ab5;
    border-bottom:3px solid #c78ab5 ;
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;  
}