.resumebox {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 1000px;
    border-radius: 30px;
    background-color:#ce6bb0;
}

#resume{
    display: flex;
    justify-content: center;
}